@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: #49a6e9;
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --menu:rgba(201, 194, 194, 0.615);
  --li:rgba(245, 245, 245, 0.718);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --op-green:rgba(237, 255, 234, 0.6);
  --op-red:rgba(250, 110, 110, 0.6);
  --gr:hsl(185, 16%, 85%);
  --blue: #4e6672b1;
  --op-black:rgba(68, 58, 58, 0.6);
  --light-green:#162f1650;
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --bg:hsla(222, 27%, 83%, 0.376);
  --cz:rgb(49, 49, 49);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --ava:"Gill Sans Extrabold", Helvetica, sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

.zdj {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.zdj .zdj1 {
  -ms-grid-column: 1;
  grid-column: 1;
  margin-right: auto;
  width: 60%;
  pointer-events: none;
}

@media (max-width: 63.9375em) {
  .zdj .zdj1 {
    width: 100%;
  }
}

.zdj .zdj2 {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-left: auto;
  width: 60%;
  pointer-events: none;
}

@media (max-width: 63.9375em) {
  .zdj .zdj2 {
    width: 100%;
  }
}

.zdj #menu li,
.zdj #menu1 li {
  background-color: var(--li);
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  width: 100%;
}

.zdj #navMain ul,
.zdj #navMain2 ul {
  padding: 0;
  margin: 0;
  z-index: 2;
}

.zdj #navMain ul li,
.zdj #navMain2 ul li {
  text-align: center;
  margin-right: 1%;
  margin-left: 1%;
  display: table;
  margin: 0 auto;
}

.zdj #navMain li a,
.zdj #navMain2 li a {
  display: block;
  text-decoration: none;
  color: var(--clr-black);
}

@media (min-width: 64em) {
  .zdj #navMain li:hover > .a1 {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%) blur(1px);
    -webkit-filter: gray;
            filter: gray;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}

@media (max-width: 63.9375em) {
  .zdj .a1.mystyle,
  .zdj .a2.mystyle {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%) blur(1px);
    -webkit-filter: gray;
            filter: gray;
  }
}

@media (min-width: 64em) {
  .zdj #navMain2 li:hover > .a2 {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%) blur(1px);
    -webkit-filter: gray;
            filter: gray;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
}

.zdj #navMain ul li:last-child,
.zdj #navMain2 ul li:last-child {
  margin-bottom: 0px;
}

.zdj #navMain li,
.zdj #navMain2 li {
  position: relative;
  list-style: none;
  padding: 0;
  font-weight: 600;
  font-family: Open Sans, sans-serif;
  color: var(--clr-white);
  margin-bottom: 1rem;
}

.zdj #navMain ul ul,
.zdj #navMain2 ul ul {
  position: absolute;
  top: 20px;
  display: none;
}

.zdj #navMain ul li ul li,
.zdj #navMain2 ul li ul li {
  margin-right: 0px;
  text-align: center;
  display: block;
  font-size: 3rem;
}

@media (max-width: 63.9375em) {
  .zdj #navMain ul li ul li,
  .zdj #navMain2 ul li ul li {
    font-size: 2.5rem;
  }
}

@media (max-width: 39.9375em) {
  .zdj #navMain ul li ul li,
  .zdj #navMain2 ul li ul li {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 87.5em) {
  .zdj #navMain ul li ul li,
  .zdj #navMain2 ul li ul li {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 350px) {
  .zdj #navMain ul li ul li,
  .zdj #navMain2 ul li ul li {
    font-size: 1.3rem;
  }
}

.zdj #navMain ul li ul li,
.zdj #navMain2 ul li ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
}

@media (max-width: 63.9375em) {
  .zdj #navMain ul ul.mystyle,
  .zdj #navMain2 ul ul.mystyle {
    display: inline-block;
  }
}

@media (min-width: 64em) {
  .zdj #navMain ul li:hover ul,
  .zdj #navMain2 ul li:hover ul {
    display: inline-block;
  }
}

.zdj #menu.mstyle {
  display: none;
}

.zdj #navMain #menu,
.zdj #navMain2 #menu1 {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.zdj #menu li:hover,
.zdj #menu1 li:hover {
  background: var(--menu);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-top: 1rem;
  padding-bottom: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 63.9375em) {
  .wrapper {
    padding-bottom: 1rem;
    margin-top: 0rem;
  }
}

.wrapper .zdj3 {
  -ms-grid-column: 1;
  grid-column: 1;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  width: 60%;
}

@media (max-width: 63.9375em) {
  .wrapper .zdj3 {
    width: 100%;
  }
}

.wrapper .zdj4 {
  -ms-grid-column: 2;
  grid-column: 2;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  width: 60%;
  pointer-events: none;
}

@media (max-width: 63.9375em) {
  .wrapper .zdj4 {
    width: 100%;
  }
}

.wrapper #menu3 li,
.wrapper #menu4 li {
  background-color: var(--li);
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  width: 100%;
}

.wrapper #navMain3 ul,
.wrapper #navMain4 ul {
  padding: 0;
  margin: 0;
  z-index: 1;
}

.wrapper #navMain3 ul li,
.wrapper #navMain4 ul li {
  text-align: center;
  margin-right: 1%;
  margin-left: 1%;
  display: table;
  margin: 0 auto;
}

.wrapper #navMain3 li a,
.wrapper #navMain4 li a {
  display: block;
  text-decoration: none;
  color: var(--clr-black);
}

@media (min-width: 64em) {
  .wrapper #navMain3 li:hover > .a3 {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%) blur(1px);
    -webkit-filter: gray;
            filter: gray;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}

@media (max-width: 63.9375em) {
  .wrapper .a3.mystyle {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%) blur(1px);
    -webkit-filter: gray;
            filter: gray;
  }
}

@media (min-width: 64em) {
  .wrapper #navMain4 li:hover > .a4 {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%) blur(1px);
    -webkit-filter: gray;
            filter: gray;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
}

@media (max-width: 63.9375em) {
  .wrapper .a4.mystyle {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%) blur(1px);
    -webkit-filter: gray;
            filter: gray;
  }
}

.wrapper #navMain3 ul li:last-child,
.wrapper #navMain4 ul li:last-child {
  margin-bottom: 0px;
}

.wrapper #navMain3 li,
.wrapper #navMain4 li {
  position: relative;
  list-style: none;
  padding: 0;
  font-weight: 300;
  font-weight: 600;
  font-family: Open Sans, sans-serif;
  color: var(--clr-white);
  margin-bottom: 1rem;
}

.wrapper #navMain3 ul ul,
.wrapper #navMain4 ul ul {
  position: absolute;
  top: 20px;
  display: none;
}

.wrapper #navMain3 ul li ul li,
.wrapper #navMain4 ul li ul li {
  margin-right: 0px;
  text-align: center;
  display: block;
  font-size: 3rem;
}

@media (max-width: 63.9375em) {
  .wrapper #navMain3 ul li ul li,
  .wrapper #navMain4 ul li ul li {
    font-size: 2.5rem;
  }
}

@media (max-width: 39.9375em) {
  .wrapper #navMain3 ul li ul li,
  .wrapper #navMain4 ul li ul li {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 87.5em) {
  .wrapper #navMain3 ul li ul li,
  .wrapper #navMain4 ul li ul li {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 350px) {
  .wrapper #navMain3 ul li ul li,
  .wrapper #navMain4 ul li ul li {
    font-size: 1.3rem;
  }
}

.wrapper #navMain3 ul li ul li,
.wrapper #navMain4 ul li ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
}

@media (max-width: 63.9375em) {
  .wrapper #navMain3 ul ul.mystyle,
  .wrapper #navMain4 ul ul.mystyle {
    display: inline-block;
  }
}

@media (min-width: 64em) {
  .wrapper #navMain3 ul li:hover ul,
  .wrapper #navMain4 ul li:hover ul {
    display: inline-block;
  }
}

.wrapper #menu3.mstyle {
  display: none;
}

.wrapper #navMain3 #menu3,
.wrapper #navMain4 #menu4 {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrapper #menu3 li:hover,
.wrapper #menu4 li:hover {
  background: var(--menu);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

::-webkit-scrollbar {
  width: 5px;
}

@media (max-width: 63.9375em) {
  ::-webkit-scrollbar {
    width: 2px;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header {
  position: relative;
  z-index: 1;
  text-align: center;
  background: white;
  padding: 0;
  width: 100%;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: large;
}

@media (max-width: 39.9375em) {
  .header {
    font-size: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  padding-top: 1%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content,
.modal-content1 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 98%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 4%);
}

.modal-content {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.3s;
  animation-name: animatetop;
  animation-duration: 0.3s;
}

.modal-content1 {
  -webkit-animation-name: animatetop1;
  -webkit-animation-duration: 0.3s;
  animation-name: animatetop1;
  animation-duration: 0.3s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    left: 300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    left: 300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes animatetop1 {
  from {
    right: 300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes animatetop1 {
  from {
    right: 300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close,
.close1 {
  color: white;
  float: right;
  font-size: 6vh;
  font-weight: bold;
  margin-right: 1%;
  margin-bottom: 1%;
}

.close:hover,
.close:focus,
.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1px 16px;
  background-color: var(--light-green);
  color: var(--clr-black);
  width: auto;
  text-align: center;
}

#one {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  overflow-wrap: break-word;
  padding: 1%;
}

@media (min-width: 40em) {
  #one {
    font-size: 1.9rem;
  }
}

#one .demo a {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: var(--cz);
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  text-decoration: none;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  cursor: pointer;
}

@media (max-width: 63.9375em) {
  #one .demo a {
    font: normal 400 15px/1 'Josefin Sans', sans-serif;
  }
}

#one .demo a:hover {
  opacity: .5;
}

#one #section01 a {
  padding-top: 40px;
}

#one #section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid var(--cz);
  border-bottom: 1px solid var(--cz);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.menu {
  padding: 5rem 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-gold);
  margin-left: auto;
  margin-right: auto;
}

.btn-container,
.btn-container1 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: auto;
}

.filter-btn {
  background: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0.5rem;
  letter-spacing: 1px;
  border-radius: var(--radius);
  padding: 0.375rem 0.75rem;
  color: var(--clr-black);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.filter-btn:hover {
  background: var(--op-black);
  color: var(--clr-white);
}

.section-center,
.section-center1 {
  width: 90vw;
  margin: 1% auto;
  max-width: 1070px;
  max-height: 50%;
  display: -ms-grid;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.menu-item {
  gap: 1rem 2rem;
  max-width: 20rem;
}

.photo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border: 0.1rem solid var(--op-black);
  border-spacing: 100px;
  margin: auto;
  display: block;
}

.item-info header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px dotted var(--clr-grey-5);
}

.item-info h4 {
  margin-bottom: 0.5rem;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    -ms-grid-columns: 225px 1fr;
        grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}

@media screen and (min-width: 1200px) {
  .section-center, .section-center1 {
    width: 95vw;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}

.ghj {
  color: rgba(174, 214, 224, 0.215);
}

.footer {
  background-color: var(--blue);
  color: var(--clr-white);
  padding: 2.5rem;
  text-align: center;
}

@media (min-width: 64em) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-template-areas: "logo links1 links2" "social links1 links2";
    justify-items: center;
  }
}

.footer a {
  color: var(--clr-white);
  text-decoration: none;
}

.footer__logo {
  display: inline-block;
}

@media (max-width: 63.9375em) {
  .footer__logo {
    margin-bottom: 1rem;
  }
}

@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
  }
}

@media (max-width: 63.9375em) {
  .footer__social {
    margin-bottom: 1rem;
  }
}

@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.footer__social a {
  display: inline-block;
  height: 1.25rem;
}

.footer__social a svg path {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}

.footer__social a:hover svg path {
  fill: black;
}

.footer__social a:not(:last-child) {
  margin-right: 1rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

@media (min-width: 64em) {
  .footer__links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
  }
}

@media (max-width: 63.9375em) {
  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__links.col2 {
    grid-area: links2;
  }
}

.footer__links a {
  line-height: 2.25;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.footer__links a:hover {
  color: black;
}

.footer .attribution {
  margin-top: 4rem;
  font-size: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
}

.footer .attribution .sof {
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: medium;
}

@media (max-width: 63.9375em) {
  .footer .attribution .sof {
    margin: 1rem;
  }
}

.footer .attribution .op {
  -ms-grid-column: 2;
  grid-column: 2;
  color: var(--gr);
  font-family: var(--ava);
  font-size: small;
}

@media (max-width: 63.9375em) {
  .footer .attribution .op {
    margin: 0.5rem;
  }
}

@media (max-width: 63.9375em) {
  .footer .attribution {
    margin-top: 0;
    display: block;
    border-spacing: 10px;
  }
}

.footer .attribution a:hover {
  color: black;
}

/*! PhotoSwipe main CSS by Dmytro Semenov | photoswipe.com */
.pswp {
  --pswp-bg: #000;
  --pswp-placeholder-bg: #222;
  --pswp-root-z-index: 100000;
  --pswp-preloader-color: rgba(79, 79, 79, 0.4);
  --pswp-preloader-color-secondary: rgba(255, 255, 255, 0.9);
  /* defined via js:
    --pswp-transition-duration: 333ms; */
  --pswp-icon-color: #fff;
  --pswp-icon-color-secondary: #4f4f4f;
  --pswp-icon-stroke-color: #4f4f4f;
  --pswp-icon-stroke-width: 2px;
  --pswp-error-text-color: var(--pswp-icon-color);
}

/*
      Styles for basic PhotoSwipe (pswp) functionality (sliding area, open/close transitions)
  */
.pswp {
  position: fixed;
  z-index: var(--pswp-root-z-index);
  display: none;
  -ms-touch-action: none;
      touch-action: none;
  outline: 0;
  opacity: 0.003;
  contain: layout style size;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Prevents focus outline on the root element,
    (it may be focused initially) */
.pswp:focus {
  outline: 0;
}

.pswp * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pswp img {
  max-width: none;
}

.pswp--open {
  display: block;
}

.pswp,
.pswp__bg {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: opacity;
}

.pswp__bg {
  opacity: 0.005;
  background: var(--pswp-bg);
}

.pswp,
.pswp__scroll-wrap {
  overflow: hidden;
}

.pswp,
.pswp__scroll-wrap,
.pswp__bg,
.pswp__container,
.pswp__item,
.pswp__content,
.pswp__img,
.pswp__zoom-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pswp {
  position: fixed;
}

.pswp__img,
.pswp__zoom-wrap {
  width: auto;
  height: auto;
}

.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* :active to override grabbing cursor */
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img,
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img:active,
.pswp__img {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img,
.pswp__button,
.pswp__counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pswp__item {
  /* z-index for fade transition */
  z-index: 1;
  overflow: hidden;
}

.pswp__hidden {
  display: none !important;
}

/* Allow to click through pswp__content element, but not its children */
.pswp__content {
  pointer-events: none;
}

.pswp__content > * {
  pointer-events: auto;
}

/*
  
    PhotoSwipe UI
  
  */
/*
      Error message appears when image is not loaded
      (JS option errorMsg controls markup)
  */
.pswp__error-msg-container {
  display: -ms-grid;
  display: grid;
}

.pswp__error-msg {
  margin: auto;
  font-size: 1em;
  line-height: 1;
  color: var(--pswp-error-text-color);
}

/*
  class pswp__hide-on-close is applied to elements that
  should hide (for example fade out) when PhotoSwipe is closed
  and show (for example fade in) when PhotoSwipe is opened
   */
.pswp .pswp__hide-on-close {
  opacity: 0.005;
  will-change: opacity;
  -webkit-transition: opacity var(--pswp-transition-duration) cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity var(--pswp-transition-duration) cubic-bezier(0.4, 0, 0.22, 1);
  z-index: 10;
  /* always overlap slide content */
  pointer-events: none;
  /* hidden elements should not be clickable */
}

/* class pswp--ui-visible is added when opening or closing transition starts */
.pswp--ui-visible .pswp__hide-on-close {
  opacity: 1;
  pointer-events: auto;
}

/* <button> styles, including css reset */
.pswp__button {
  position: relative;
  display: block;
  width: 50px;
  height: 60px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.85;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
}

.pswp__button:hover,
.pswp__button:active,
.pswp__button:focus {
  -webkit-transition: none;
  transition: none;
  padding: 0;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 1;
}

.pswp__button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.pswp__icn {
  fill: var(--pswp-icon-color);
  color: var(--pswp-icon-color-secondary);
}

.pswp__icn {
  position: absolute;
  top: 14px;
  left: 9px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  pointer-events: none;
}

.pswp__icn-shadow {
  stroke: var(--pswp-icon-stroke-color);
  stroke-width: var(--pswp-icon-stroke-width);
  fill: none;
}

.pswp__icn:focus {
  outline: 0;
}

/*
      div element that matches size of large image,
      large image loads on top of it,
      used when msrc is not provided
  */
div.pswp__img--placeholder,
.pswp__img--with-bg {
  background: var(--pswp-placeholder-bg);
}

.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
  /* allow events to pass through top bar itself */
  pointer-events: none !important;
}

.pswp__top-bar > * {
  pointer-events: auto;
  /* this makes transition significantly more smooth,
       even though inner elements are not animated */
  will-change: opacity;
}

/*
  
    Close button
  
  */
.pswp__button--close {
  margin-right: 6px;
}

/*
  
    Arrow buttons
  
  */
.pswp__button--arrow {
  position: absolute;
  top: 0;
  width: 75px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
}

.pswp__button--arrow:disabled {
  display: none;
  cursor: default;
}

.pswp__button--arrow .pswp__icn {
  top: 50%;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  background: none;
  border-radius: 0;
}

.pswp--one-slide .pswp__button--arrow {
  display: none;
}

/* hide arrows on touch screens */
.pswp--touch .pswp__button--arrow {
  visibility: hidden;
}

/* show arrows only after mouse was used */
.pswp--has_mouse .pswp__button--arrow {
  visibility: visible;
}

.pswp__button--arrow--prev {
  right: auto;
  left: 0px;
}

.pswp__button--arrow--next {
  right: 0px;
}

.pswp__button--arrow--next .pswp__icn {
  left: auto;
  right: 14px;
  /* flip horizontally */
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

/*
  
    Zoom button
  
  */
.pswp__button--zoom {
  display: none;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

/* "+" => "-" */
.pswp--zoomed-in .pswp__zoom-icn-bar-v {
  display: none;
}

/*
  
    Loading indicator
  
  */
.pswp__preloader {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 60px;
  margin-right: auto;
}

.pswp__preloader .pswp__icn {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-animation: pswp-clockwise 600ms linear infinite;
          animation: pswp-clockwise 600ms linear infinite;
}

.pswp__preloader--active .pswp__icn {
  opacity: 0.85;
}

@-webkit-keyframes pswp-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes pswp-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*
  
    "1 of 10" counter
  
  */
.pswp__counter {
  height: 30px;
  margin: 15px 0 0 20px;
  font-size: 14px;
  line-height: 30px;
  color: var(--pswp-icon-color);
  text-shadow: 1px 1px 3px var(--pswp-icon-color-secondary);
  opacity: 0.85;
}

.pswp--one-slide .pswp__counter {
  display: none;
}

.pswp__dynamic-caption {
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: opacity 120ms linear !important;
  transition: opacity 120ms linear !important;
  /* override default */
  font-size: 24px;
}

.pswp-caption-content {
  display: none;
}

.pswp__dynamic-caption a {
  color: #fff;
}

.pswp__dynamic-caption--faded {
  opacity: 0 !important;
}

.pswp__dynamic-caption--aside {
  width: auto;
  max-width: 300px;
  padding: 20px 15px 20px 100px;
  margin-top: 70px;
}

.pswp__dynamic-caption--below {
  width: auto;
  max-width: 700px;
  padding: 15px 0 0;
}

.pswp__dynamic-caption--on-hor-edge {
  padding-left: 15px;
  padding-right: 15px;
}

.pswp__dynamic-caption--mobile {
  width: 100%;
  top: auto;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}
/*# sourceMappingURL=style.css.map */